<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    {{>header}}
    <div id="register_div" class="main-div">
    <h3>Register to Note Application</h3>
    <input type="email" placeholder="Email..." id="email_field" />
    <input type="password" placeholder="Password..." id="password_field" />

    
      
      <button onclick="">register</button>
  </div>
    {{>footer}}
</body>

</html>